{% extends 'base.html.twig' %}
{% block body %}
<h4 class="center-align">Modifier un Collectionneur</h4>

<div class="row ">
  <hr class="col s6 offset-s3">
</div>
{{ form_start(formCollector, {'attr': {'action': path('edit_collector', {'id': id}), 'method': 'POST' }}) }}

{{ form_row(formCollector.surname) }}
{{ form_row(formCollector.name) }}
{{ form_row(formCollector.country, {'attr': {'label': 'Pays'}}) }}

<button id="Add2" class="btn waves-effect modal-close waves-test waves-light">Sauvegarder</button>

{{ form_end(formCollector) }}

<script type="text/javascript" scr="{{ asset('js/edit.js') }}"></script>

{% endblock %}

