<h5>Ajout d'un collectionneur</h5>
{{ form_start(formCollector, {'attr': {'id': 'form_collector_create', 'action': path('create_collector'), 'method': 'POST' }}) }}

<ul class="collapsible">
    <li>
        <div class="collapsible-header"><span class="card-subtitle">Contact:</span></div>
        <div class="collapsible-body">
            {{ form_row(formCollector.contact.name) }}
            {{ form_row(formCollector.contact.surname) }}
            {{ form_row(formCollector.contact.phoneNumber) }}
            {{ form_row(formCollector.contact.email) }}
            {{ form_row(formCollector.contact.webLink) }}
        </div>
    </li>
</ul>
<ul class="collapsible">
    <li>
        <div class="collapsible-header"><span class="card-subtitle">Addresse</span></div>
        <div class="collapsible-body">
            {{ form_row(formCollector.contact.address.country) }}
            {{ form_row(formCollector.contact.address.zipCode) }}
            {{ form_row(formCollector.contact.address.city) }}
            {{ form_row(formCollector.contact.address.street) }}
            {{ form_row(formCollector.contact.address.streetNumber) }}
        </div>
    </li>
</ul>





<button id="Add2" class="btn waves-effect modal-close waves-test waves-light">Ajouter</button>

{{ form_end(formCollector) }}


<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
