<h4 class="center-align">Nouveau Collectionneur</h4>

<div class="row ">
  <hr class="col s6 offset-s3">
</div>
{{ form_start(formCollector, {'attr': {'id': 'form_collector_create', 'action': path('create_collector'), 'method': 'POST' }}) }}

{{ form_row(formCollector.surname) }}
{{ form_row(formCollector.name) }}
{{ form_row(formCollector.country) }}
<br>

<button id="Add2" class="btn waves-effect modal-close waves-test waves-light">Ajouter</button>

{{ form_end(formCollector) }}

<script type="text/javascript">
  $(document).ready(function(){
    $('#collector_country').formSelect();
  });
</script>
