{% extends 'base.html.twig' %}

{% block body %}
<h1>Résultat</h1>
<hr>
<div>
  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"> {{result.brand.brandName}} {{ result.modele}} </div>
    <div class="card-body">
      <h4 class="card-title">{{result.brand.brandName}} // {% for version in result.versions %}{{version.versionName}}{% endfor %}</h4>
      <div>
        {% for collector in result.collectors %}
          <p class="card-text">
            {{ collector.contact.surName }}
            {{ collector.contact.name }}
          </p>
        {% endfor %}

        {% for media in result.medias %}
          <p class="card-text">
            {{ media.type }}
            {{ media.name }}
            {{ media.number }}
            {{ media.releaseDate }}
            {{ media.author }}
            {{ media.webLink }}
            {{ media.repertory }}
            {{ media.language }}
          </p>
        {% endfor %}
        <span>Designers (à ajouter)</span>
      </div>
    </div>
  </div>
</div>


{% endblock %}
