{{ form_start(formClub, {'attr': {'action': path('create_club'), 'method': 'POST' }} ) }}

{{ form_row(formClub.clubName) }}




<ul class="collapsible">
      <li>
        <div class="collapsible-header"><span class="card-subtitle">Contact</span></div>
        <div class="collapsible-body">
          {{ form_row(formClub.contact) }}
        </div>
      </li>
    </ul>
<ul class="collapsible">
      <li>
        <div class="collapsible-header"><span class="card-subtitle">Addresse</span></div>
        <div class="collapsible-body">
          {{ form_row(formClub.address) }}
        </div>
      </li>
    </ul>

<button id="Add2" class="btn waves-effect modal-close waves-test waves-light">Ajouter</button>
{{ form_end(formClub) }}

<script type="text/javascript">
  $(document).ready(function(){

    $('.collapsible').collapsible();
  });
</script>
