{% if search != '' %}

  {% for modele in results %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header"><a class='search-link' href="{{path('result', {'type':type, 'id':modele.id}) }}" > {{modele.getBrand().getBrandName()}} {{ modele.modele}} </a></div>
      <div class="card-body">
        <h4 class="card-title">{{modele.getBrand().getBrandName()}}</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <p>{{type}}</p>
      </div>
    </div>
  {% endfor %}

{% else %}

  <select>
    <option value="0">Choisir une option</option>
    {% for modele in results %}
    <option>{{ modele.modele}}</option>
    {% endfor %}
  </select>

{% endif %}


