<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Mimir{% endblock %}</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block stylesheets %}
      {# 'app' must match the first argument to addEntry() in webpack.config.js #}
      {{ encore_entry_link_tags('app') }}
      <!-- Renders a link tag (if your module requires any CSS)
      <link rel="stylesheet" href="/build/app.css"> -->
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="{{path('home')}}" class="brand-logo right">Mimir</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="{{path('search')}}">Rechercher</a></li>
              <li><a href="{{path('edit')}}">Ajouter</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{{path('search')}}">Rechercher</a></li>
        <li><a href="{{path('edit')}}">Ajouter</a></li>
      </ul>
    </header>
    <main class="grey2">
      <div class="container">
        {% block body %}{% endblock %}
      </div>
    </main>
    <footer class="page-footer z-depth-1">
      <div class="footer-copyright">
        <div class="container center">
          © 2019 Erwan Pasche
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script type="text/javascript"src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {{ encore_entry_script_tags('app') }}
    <!-- Renders app.js & a webpack runtime.js file
    <script src="/build/runtime.js"></script>
    <script src="/build/app.js"></script> -->
    {% block javascripts %}
    {% endblock %}
  </body>
</html>
