<!-- if à ajouter si besoin -->

<div class="card-content">
  <ul>
    <li class="row collection-item card-title">
      <div><span class=" break-word col s8">{{ result.eventName }}</span>
        <div class="secondary-content">
          <a class="btn-small blue lighten-3" href="{{path('edit_event', {'id':result.id})}}">Modifier</a>
          <span class="">&nbsp;</span>
          <a class="btn-small deep-orange accent-2" href="{{path('delete_event', {'id':result.id})}}">Supprimer</a>
        </div>
      </div>
    </li>
  </ul>

  <li class="divider red accent-2"></li>
  <ul class="collection with-header back_color">
    <li class="collection-header"><h5>Date de l'événement : {{ result.eventDate|date("m/d/Y") }}</h5></li>
  </ul>


  <li class="divider red accent-2"></li>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><span class="card-subtitle">Adresse de l'événement :</span></div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item">Pays : {{ result.address.country }}</li>
          <li class="collection-item">Ville : {{ result.address.zipCode }} {{ result.address.city }}</li>
          {% if result.address.street %}
          <li class="collection-item">Rue : {{ result.address.street }} {{ result.address.streetNumber }}</li>
          {% endif %}
        </ul>
      </div>
    </li>
  </ul>


  <li class="divider red accent-2"></li>
  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><span class="card-subtitle">Personne de contact :</span></div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item">{{ result.contact.surName }} {{ result.contact.name }}</li>
          <li class="collection-item">N° de téléphone : {{ result.contact.phoneNumber }}</li>
          <li class="collection-item">Email : {{ result.contact.email }}</li>
          <li class="collection-item">Site web : <a href="{{ result.contact.webLink }}" target="blank">{{ result.contact.webLink }}</a></li>
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><span class="card-subtitle">Adresse :</span></div>
              <div class="collapsible-body">
                <ul class="collection">
                  <li class="collection-item">Pays : {{ result.contact.address.country }}</li>
                  <li class="collection-item">Ville : {{ result.contact.address.zipCode }} {{ result.contact.address.city }}</li>
                  {% if result.contact.address.street %}
                  <li class="collection-item">Rue : {{ result.contact.address.street }} {{ result.contact.address.streetNumber }}</li>
                  {% endif %}
                </ul>
              </div>
            </li>
          </ul>
        </ul>
      </div>
    </li>
  </ul>
</div>
<script type="text/javascript">
    $(document).ready(function(){

    $('.collapsible').collapsible();
  });
</script>
