<div class="card-content">
  <ul>
    <li class="row collection-item card-title">
      <div ><span class=" break-word col s8">{{result.brand.brandName }} {{result.modele }} {{ result.year }}</span>
        <div class="secondary-content">
          <a class="btn-small blue lighten-3" href="{{path('edit_modele', {'id':result.id})}}">Modifier</a>
          <span class="">&nbsp;</span>
          <a id="DeleteModele" class="btn-small deep-orange accent-2" href="{{path('delete_modele', {'id':result.id})}}">Supprimer</a>
        </div>
      </div>
    </li>
  </ul>

{% if result.engine or result.gearbox or result.frame or result.identification %}
  <li class="divider red accent-2"></li>
    <ul class="collection with-header back_color">
      <li class="collection-header"><h5>Numéro d'identification :</h5></li>
      {% if result.engine %}
        <li class="collection-item valign-wrapper"><i class="material-icons">filter_drama</i>&nbsp; Moteur : {{ result.engine}}</li>
      {% endif %}
      {% if result.gearbox %}
        <li class="collection-item valign-wrapper"><i class="material-icons">build</i>&nbsp; Boîte : {{ result.gearbox}} </li>
      {% endif %}
      {% if result.frame %}
        <li class="collection-item valign-wrapper"><i class="material-icons">directions_car</i>&nbsp; Châssis : {{ result.frame}}</li>
      {% endif %}
      {% if result.identification %}
        <li class="collection-item valign-wrapper"><i class="material-icons">trending_up</i>&nbsp; Enchère : {{ result.identification}}</li>
      {% endif %}
    </ul>

{% endif %}

{% if result.isVersionExist %} <!-- Add Collapse -->
  <li class="divider red accent-2"></li>
  <ul class="collection with-header back_color">
    <li class="collection-header"><h5>Versions : </h5></li>
    {% for version in result.versions %}
      <li class="collection-item">{{ version.versionName}}</li>
    {% endfor %}
  </ul>
{% endif %}
 <!-- Add Collapse -->
{% if result.isCollectorsExist %}
  <li class="divider red accent-2"></li>
  <ul class="collection with-header back_color">
    <li class="collection-header"><h5>Collectionneurs : </h5></li>
    {% for collector in result.collectors %}
      <li class="collection-item">{{ collector.contact.name}} {{ collector.contact.surName}}</li>
    {% endfor %}
  </ul>
{% endif %}

{% if result.isDesignersExist %} <!-- Add Collapse -->
  <li class="divider red accent-2"></li>
<ul class="collection with-header back_color">
  <li class="collection-header"><h5>Designers : </h5></li>
  {% for designer in result.designers %}
    <li class="collection-item"><a href="{{ designer.WikiLink}}" target="blank">{{ designer.name}} {{ designer.surName}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% if result.isMediasExist %}

<li class="divider red accent-2"></li>
<ul class="collection with-header ">
  <li class="collection-header "><h5>Sources : </h5></li>
  <li class="collection-item">
    <ul class="collapsible">
    {% for media in result.medias %}
      <li>
        <div class="collapsible-header"><h5>{{ media.name }}</h5></div>
        <div class="collapsible-body">
          <ul class="collection">
            {% if media.type %}
              <li class="collection-item">Type : {{ media.type }}</li>
            {% endif %}
            {% if media.name %}
              <li class="collection-item">Nom : {{ media.name }}</li>
            {% endif %}
            {% if media.number %}
              <li class="collection-item">N° : {{ media.number }}</li>
            {% endif %}
            {% if media.releaseDate %}
              <li class="collection-item">Date de sortie : {{ media.releaseDate }}</li>
            {% endif %}
            {% if media.author %}
              <li class="collection-item">Auteur : {{ media.author }}</li>
            {% endif %}
            {% if media.webLink %}
              <li class="collection-item">Lien : <a href="{{ media.webLink }}" target="blank">{{ media.webLink }}</a></li>
            {% endif %}
            {% if media.repertory %}
              <li class="collection-item">Répertoire : {{ media.repertory }}</li>
            {% endif %}
            {% if media.language %}
              <li class="collection-item">Langue : {{ media.language }}</li>
            {% endif %}
            <li class="collection-item">
            <div>
                <a id="DeleteMedia" class="secondary-content btn-small deep-orange accent-2" href="{{path('delete_media', {'id':media.id})}}">Supprimer</a><span class="secondary-content">&nbsp;</span>
                <a class="secondary-content btn-small blue lighten-3" href="{{path('edit_media', {'id':media.id})}}">Modifier</a>
                </div>
            </li>
          </ul>
        </div>
      </li>
    {% endfor %}
  </ul>
  </li>
</ul>
{% endif %}
</div>
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/search2.js') }}"></script>
{% endblock %}
