<!-- if à ajouter si besoin
Ajouter du JS -> Flèche pour étendre les infos (pour sources p.ex) -->

<div class="card-content">
  <h2 class="card-title">{{result.brand.brandName }} {{result.modele }}</h2>

  <a class="btn" href="{{path('edit_modele', {'id':result.id})}}">Modifier</a>
  <a id="DeleteModele" class="btn" href="{{path('delete_modele', {'id':result.id})}}">Supprimer</a>

{% if result.engine or result.gearbox or result.frame or result.identification %}
    <div class="card-body">
      <hr class="red-hr">
      <h5 class="card-subtitle">Numéro d'indentification :</h5>
      {% if result.engine %}
        <h6 class="collapsible-header"><i class="material-icons">filter_drama</i>Moteur : {{ result.engine}}</h6>
      {% endif %}
      {% if result.gearbox %}
        <h6 class="collapsible-header"><i class="material-icons">build</i>Boîte : {{ result.gearbox}} </h6>
      {% endif %}
      {% if result.frame %}
        <h6 class="collapsible-header"><i class="material-icons">directions_car</i>Châssis : {{ result.frame}}</h6>
      {% endif %}
      {% if result.identification %}
        <h6 class="collapsible-header"><i class="material-icons">trending_up</i>Enchère : {{ result.identification}}</h6>
      {% endif %}
    </ul>
  </div>
{% endif %}

{% if result.isVersionExist %} <!-- Add Collapse -->
      <hr class="red-hr">
      <div class="card-body">
        <h5 class="card-subtitle">Versions : </h5>
        {% for version in result.versions %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><h6 class="mb-1">{{ loop.index }} : </h6> {{ version.versionName}}</li>
          </ul>
        {% endfor %}
      </div>
{% endif %}

{% if result.collectors %} <!-- Add Collapse -->
  {% for collector in result.collectors %}
    {% if collector.contact.name %}
      <hr class="red-hr">
      <div class="card-body">
        <h5 class="card-subtitle">Collectionneurs : </h5>
        {% for collector in result.collectors %}
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ collector.contact.name}} {{ collector.contact.surName}}</li>
          </ul>
        {% endfor %}
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% if result.designers %} <!-- Add Collapse -->
  <hr class="red-hr">
  <div class="card-body">
    <h5 class="card-subtitle">Designers : </h5>
    {% for designer in result.designers %}
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ designer.name}} {{ designer.surName}}</li>
      </ul>
    {% endfor %}
  </div>
{% endif %}
<hr class="red-hr">
<div class="card-body">
  <h5 class="card-subtitle">Sources : </h5>
  {% for media in result.medias %}
    <hr class="red-hr">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><span class="card-subtitle">{{loop.index}} : {{ media.name }}</span></div>
        <div class="collapsible-body">
          <ul class="list-group list-group-flush">
            {% if media.type %}
              <li class="list-group-item">Type : {{ media.type }}</li>
            {% endif %}
            {% if media.name %}
              <li class="list-group-item"><h6 class="mb-1">Nom : </h6>{{ media.name }}</li>
            {% endif %}
            {% if media.number %}
              <li class="list-group-item"><h6 class="mb-1">N° : </h6>{{ media.number }}</li>
            {% endif %}
            {% if media.repertory %}
              <li class="list-group-item"><h6 class="mb-1">Date de sortie : </h6>{{ media.releaseDate|date("m/d/Y") }}</li>
            {% endif %}
            {% if media.repertory %}
              <li class="list-group-item"><h6 class="mb-1">Auteur : </h6>{{ media.author }}</li>
            {% endif %}
            {% if media.webLink %}
              <li class="list-group-item"><h6 class="mb-1">Lien : </h6>{{ media.webLink }}</li>
            {% endif %}
            {% if media.repertory %}
              <li class="list-group-item"><h6 class="mb-1">Répertoire : </h6>{{ media.repertory }}</li>
            {% endif %}
            {% if media.language %}
              <li class="list-group-item"><h6 class="mb-1">Langue : </h6>{{ media.language }}</li>
            {% endif %}
          </ul>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
</div>
{% block javascripts %}
<script type="text/javascript" src="{{ asset('js/search2.js') }}"></script>
{% endblock %}
