<!-- if à ajouter si besoin -->

<div class="card mb-3">
  <a class="btn" href="{{path('edit_designer', {'id':result.id})}}">Modifier</a>
  <a class="btn" href="{{path('delete_designer', {'id':result.id})}}">Supprimer</a>
  <h3 class="card-header" >{{ result.name }} {{ result.surName }}</h3>

  <hr class="red-hr">

  {% if result.modeles %}
    <hr class="red-hr">
    <div class="card-body">
      <h5 class="card-title">Modèles : </h5>
      {% for modele in result.modeles %}
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ modele.modele}}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
</div>

