<!-- if à ajouter si besoin -->

<div class="card-content">
  <ul>
    <li class="collection-item card-title">
      <div>{{result.surname }} {{result.name }}
        <a id="DeleteModele" class="secondary-content btn-small deep-orange accent-2" href="{{path('delete_designer', {'id':result.id})}}">Supprimer</a><span class="secondary-content">&nbsp;</span>
        <a class="secondary-content btn-small blue lighten-3" href="{{path('edit_designer', {'id':result.id})}}">Modifier</a>
      </div>
    </li>
    {% if result.wikiLink %}
    <li class="collection-item"><a href="{{ result.wikiLink }}" target="blank">Article Wikipédia</a></li>
    {% endif %}
  </ul>

  {% if result.isModelesExist %}
    <hr class="red-hr">
    <div class="card-body">
      <h5 class="card-title">Modèles : </h5>
      {% for modele in result.modeles %}
        <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ modele.modele}}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}
</div>
